body {
	background-color: black;
}

h3 {
	position: absolute;
	display: block;
	color: #f8f8f8;
	height: auto;
	top: 470%;
	width: 100%;
	text-align: center;
	font-family: 'Signika Negative', sans-serif;
	font-size: 36px;
	line-height: 35px;
}

a {
	position: fixed;
	z-index: 3;
	text-decoration: none;
	color: #2E2F37;
	font-size: 50px;
	font-family: serif;
}

a:hover {
	transition: 2s;
	color: #f8f8f8;
}

.linkb {
	left: 2%;
	top: 90%;
}

.linkh {
	left: 94%;
	top: 90%;
}

.scroll {
	z-index: 3;
	position: fixed;
	left: 50%;
	top: 90%;
	color: #2E2F37;
	font-family: serif;
	font-size: 65px;
}

.scroll:hover {
	transition: 2s;
	color: #E6E64B;
}

.img1 {
	background-image: url("img/webimg/fallingbg1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.img2{
	position: absolute;
	width: 100%;
	height: auto;
	overflow: hidden;
}

@keyframes rotate {
	from {
    transform: rotate(0deg); transform-origin: x-axis(center); transform-origin: y-axis(center);
  }
  to {
    transform: rotate(1800deg);
  }
}

.rotate {
	width: 100%;
	height: auto;
	left: 2%;
	position: fixed;
	bottom: 70px;
	overflow: hidden;
	z-index: 2;
	animation: rotate 40s infinite;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}