body {
	background-color: black;
}

h3 {
	color: #f8f8f8;
}

p  {
	color: #f8f8f8;
}

a {
	position: fixed;
	z-index: 3;
	text-decoration: none;
	color: #2E2F37;
	font-size: 50px;
	font-family: serif;
}

a:hover {
	transition: 2s;
	color: #f8f8f8;
}

.linkb {
	left: 2%;
	top: 90%;
}

.linkf {
	left: 95%;
	top: 90%;
}

.scroll {
	z-index: 3;
	position: fixed;
	left: 50%;
	top: 90%;
	color: #2E2F37;
	font-family: serif;
	font-size: 65px;
}

.scroll:hover {
	transition: 2s;
	color: #E6E64B;
}

.img1 {
	background-image: url("img/webimg/beachsky.jpg");
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.n1 { /*You're as cute*/
	position: absolute;
	height: 80%;
	top: 80%;
	left: 80%;
	padding-top: 50px;
	color: #f8f8f8;
	font-family: 'Signika Negative', sans-serif;
	font-size: 23px;
	line-height: 35px;
	width: 180px;
}

.l1 { /*I think...*/
	position: absolute;
	height: 80%;
	top: 95%;
	left: 40%;
	color: black;
	font-family: 'Patrick Hand', cursive;
	font-size: 24px;
	line-height: 35px;
	width: 480px;
}

.l2 { /*...I want to try*/
	position: absolute;
	height: 80%;
	top: 134%;
	left: 56%;
	padding-top: 50px;
	color: black;
	font-family: 'Patrick Hand', cursive;
	font-size: 26px;
	line-height: 35px;
	width: 480px;
}

.l3 { /*Living a carefree life*/
	position: absolute;
	height: 80%;
	top: 200%;
	left: 37%;
	padding-top: 50px;
	color: black;
	font-family: 'Patrick Hand', cursive;
	font-size: 29px;
	line-height: 35px;
	width: 350px;
}

.l4 { /*I know making*/
	position: absolute;
	height: 80%;
	top: 250%;
	left: 70%;
	padding-top: 50px;
	color: black;
	font-family: 'Patrick Hand', cursive;
	font-size: 24px;
	line-height: 35px;
	width: 320px;
}

.l5 { /*Even a small*/
	position: absolute;
	height: 80%;
	top: 280%;
	left: 50%;
	padding-top: 50px;
	color: black;
	font-family: 'Patrick Hand', cursive;
	font-size: 26px;
	line-height: 35px;
	width: 550px;
}

.l6 { /*Rarely involving*/
	position: absolute;
	height: 80%;
	top: 350%;
	left: 9%;
	padding-top: 50px;
	color: black;
	font-family: 'Patrick Hand', cursive;
	font-size: 30px;
	line-height: 35px;
	width: 150px;
}

.l7 { /*just living together*/
	position: absolute;
	height: 80%;
	top: 440%;
	left: 70%;
	padding-top: 50px;
	color: black;
	font-family: 'Patrick Hand', cursive;
	font-size: 32px;
	line-height: 35px;
	width: 480px;
}

.l8 { /*Look...*/
	position: absolute;
	height: 85%;
	top: 500%;
	left: 10%;
	padding-top: 50px;
	color: black;
	font-family: 'Patrick Hand', cursive;
	font-size: 36px;
	line-height: 35px;
	width: 480px;
}

.img2 {
	background-image: url("img/beach.png");
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@keyframes ocupy {
	0% {left: 0%; opacity: 0;}
	50% {left: 0%; opacity: 1}
	100% {left: 0%; opacity: 0;}
}

.ocupy {
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0px;
	z-index: 2;
	animation: ocupy 10s infinite;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}