

body {
	max-width: 1200px;
	background-color: black;
}

h1 {
	padding-top: 50px;
	color: #f8f8f8;
	font-family: sans-serif;
	font-size: 50px;
	opacity: .96;
}

span {
	font-style: italic;
}

h2 {
	padding-top: 10px;
	color: #f8f8f8;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 42px;
	opacity: .96;
}

a {
	position: fixed;
	z-index: 3;
	left: 95%;
	top: 90%;
	text-decoration: none;
	color: #2E2F37;
	font-size: 50px;
	font-family: serif;
}

a:hover {
	transition: 2s;
	color: #f8f8f8;
}

.img1 {
	background-image: url("img/webimg/titlebg.png");
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.txt {
	position: fixed;
	left: 60%;
	top: 5%;
}

.info{
	position: absolute;
	color: #F5F5F9;
	left: 2%;
	height: 8%;
	top: 86%;
	padding-top: 50px;
	font-family: sans-serif;
	font-size: 15px;
	opacity: .45;
	z-index: 5;
}

.img2 {
	background-image: url("img/webimg/titlechildren.png");
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@keyframes hover {
	0% {left: 0%; opacity: 0;}
	50% {left: 0%; opacity: 1;}
	100% {left: 0px; opacity: 0;}
}

.hover  {
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0px;
	margin-left: auto;
	z-index: 2;
	left: 0%;
	animation: hover 12s infinite;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}