body {
	border-top: solid 4px #f8695a;
	background-color: #1a2325;
}

header {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
	padding-bottom: 100px;
}

article {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
	padding: 100px 0px;
	box-sizing: border-box;
}

article:not(:last-child) {
	border-bottom: solid 1px #555a5b;
}

h2 {
	font-family: "Quatro Slab", sans-serif;
	font-size: 36px;
	line-height: 110%;
	color: #ffffff;
	width: 38%;
}

h3 {
	display: inline-block;
	font-family: "Quatro Slab", sans-serif;
	font-size: 24px;
	color: #ffffff;
	padding-top: 25pt;
}

p {
	font-family: "LFT Etica", sans-serif;
	font-size: 16px;
	color: #abadad;
	width: 38%;
	padding-top: 7pt;
	padding-bottom: 3pt;
}

a:link {
	text-decoration: none;
	color: #01bfc1;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

span {
	font-family: Arial, sans-serif;
	font-size: 20pt;
}

button {
	display: inline-block;
	font-family: "LFT Etica", sans-serif;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	background-color: #01ccce;
	padding: 7pt 18pt;
	margin-left: 25pt;
}

button:hover {
	color: #ffffff;
	background-position:0 0, 30px 30px
	background: url("img/pattern.jpg");
	background-image: url("img/pattern.jpg");
	background-color: #01ccce;
}

.logo {
	border: solid 20px #f8695a;
	background: #f8695a;
	position: absolute;
}

.h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.article {
	overflow: auto;
}

.p1_1, .p1_2, .p2_1, .p2_2, .p3_1, .p3_2 {
	line-height: 130%;
}

.subhead {
	font-family: "LFT Etica", sans-serif; /* its supposed to be book but its regular? */
	font-style: Book;
	color: #555a5b;
	padding-top: 7pt;
	padding-bottom: 10pt;
}

.p1_3, .p2_3, .p3_3 {
	padding-top: 20pt;
	padding-bottom: 20pt;
	border-bottom: dotted #555a5b 1pt;
}

.calendar, .framed, .films {
	border: solid #ffffff 4pt;
	float: right;
	margin-left: 3em;
	margin-right: auto;
	width: 50%;
}